@import '../../../styles/variables';

.LoanCart {
    margin-top: 2em;
    width: 100%;
    section {
        margin-top: 2rem;
    }

    .loan-books {
        width: 100%;
        background-color: $dark-green;
        padding: 1em 1.25em;
        border-radius: .45rem;
        text-align: left;
            .loan-borrower {
                font-weight: 500;
                font-size: 1.25rem;
                color: white;
            }
    }
}