@import './variables';

  
@mixin dark-pink-button {
    background-color: $dark-pink;
    color: white;
    font-weight: 600;
    &:hover {
      background-color: #e6d3c4;   
    }
  }

  @mixin dark-green-button {
    background-color: $med-green;
    color: #303030;
    font-weight: 600;
    &:hover {
      background-color:$light-green;  
      color: #303030; 
    }
  }