@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Quicksand:wght@400;600&display=swap');


// colors
$dark-green: #6b705c;
$med-green: #a5a58d;
$light-green: #b7b7a4;
$dark-pink: #cb997e;
$med-pink: #ddbea9;
$light-pink: #ffe8d6;
$dark-gray-text: #303030;

// fonts
$playfair-display: Playfair, Serif;
$quicksand-body: Quicksand, Helvetica, sans-serif;