@import '~bootstrap/dist/css/bootstrap.min.css';
@import './variables';
@import './events';


body {
  margin: 0;
  background-color: $light-pink;
  font-family: $quicksand-body;
  h1 {
    font-family: $playfair-display;
    color: $dark-gray-text;
  }
  .secondary-nav {
    text-align: left;
    header {
        padding: 5px 16px;
        font-size: 1.5rem;
    }
  }
  .dark-pink-btn {
    @include dark-pink-button;
  }
  .dark-green-btn {
    @include dark-green-button;
  }
}
