@import '~bootstrap/dist/css/bootstrap.min.css';


body {
  margin: 0;
  .secondary-nav {
    text-align: left;
    header {
        padding: 8px 16px;
        font-size: 1.3rem;
        font-weight: 600;
    }
}
}
