@import '../../../styles/variables';

.SecondaryNav {
    display: block;
    h2 {
        font-family: $playfair-display;
        color: $dark-gray-text;
    }
    .sec-nav-link {
        color: $dark-gray-text;
        font-weight: 600;
        &:hover {
            color: $dark-green;
        }
    }
}