.LoanConfirmation {
    margin-top: 2em;
    width: 100%;
    main {
        margin-top: 2rem;
    }
    .loan-books {
        header {
            p {
                font-weight: 500;
                font-size: 1.25rem;
            }
        }
        width: 100%;
        text-align: left;
    }
}