@import '../../../styles/variables';

.MyNavbar {
    .custom-navbar {
        background-color: $dark-green;
         .navbar-brand {
            color: $light-pink;
            font-family: $playfair-display;
        }
        .nav-link {
            color: white;
        }
    }
}